<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink = "/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/movie">Movie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink = "/booking">Booking</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink = "/signup">SignUp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink = "/signin">SignIn</a>
        </li>
        <li class="nav-item">
          <p class="nav-link">{{currentUser?.hoTen}}</p>
      </li>
        
      </ul>
      
    </div>
  </nav>

  <router-outlet></router-outlet>

  <div class="bg-success mt-3" >
        Footer
  </div>