<!-- Interpolation -->
<p>
    {{message}}
</p>

<input value = "{{message}}"/>

<!-- Property binding -->
<input [value] = "message" [disabled] = "isActive" />

<br/>
<br/>
<!-- Event binding -->
<!-- #messageRef như đang tham chiếu (DOM) tới thẻ input -->
<input [value] = "message" #messageRef />
<button (click) = "handleChangeMessage(messageRef)" >click</button>

<br/>
<br/>
<p>{{userName}}</p>
<input [value] = "userName" (change) = "handleChangeUserName($event)" />

<input [value] = "userName" (input) = "handleChangeUserName($event)" >

<!-- Two-way binding -->
<!-- Thay đổi giá trị biến email trong Ts và binding lại chỉ áp dụng cho event input -->

<br/>
<br/>

<p>{{email}}</p>
<input [(ngModel)] = 'email'/>
<!-- <input [value] = "email" (input) = "email = $event.target.value" > -->

<p>test git</p>