<div class="container">
    <h2 class="text-center">Thêm Movie</h2>
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <!-- Tên Phim -->
        <div class="form-group">
            <label>Tên Phim</label>
            <input type="text" class="form-control" formControlName="tenPhim">
        </div>
        <!-- Bí Danh -->
        <div class="form-group">
            <label>Bí Danh</label>
            <input type="text" class="form-control" formControlName="biDanh">
        </div>
        <!-- Trailer -->
        <div class="form-group">
            <label>Trailer</label>
            <input type="text" class="form-control" formControlName="trailer">
        </div>
        <!-- Hình ảnh -->
        <div class="form-group">
            <label>Hình ảnh</label>
            <input type="file" class="form-control-file" (change)="handleChange($event)">
        </div>
        <!-- Mô tả -->
        <div class="form-group">
            <label>Mô tả</label>
            <input type="text" class="form-control" formControlName="moTa">
        </div>
        <!-- Ngày khởi chiếu -->
        <div class="form-group">
            <label>Ngày khởi chiếu</label>
            <input type="text" class="form-control" formControlName="ngayKhoiChieu">
        </div>

        <button class="btn btn-success" >Thêm Phim</button>
    </form>
</div>