<h3 class="text-center">Sign Up</h3>
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <form #formDangKy = "ngForm" (ngSubmit)="handleDangKy()">
                <!-- Tài khoản -->
                <div class="form-group">
                    <label>Tài Khoản</label>
                    <input type="text" class="form-control" name="taiKhoan" ngModel #taiKhoan="ngModel" required minlength="5" maxlength="15">
                    <!-- Validation -->

                    <!-- <app-error-massage [control]="taiKhoan" ></app-error-massage> -->
                    
                    <div *ngIf="taiKhoan.invalid && (taiKhoan.touched || taiKhoan.dirty)" class="alert alert-danger" >
                        <span *ngIf="taiKhoan.errors?.required">
                            Tài khoản không được bỏ trống
                        </span>
                        <span *ngIf="taiKhoan.errors?.minlength || taiKhoan.errors?.maxlength" >
                            Tài khoản phải từ 5 đến 15 ký tự
                        </span>
                    </div>
                </div>

                <!-- Mật Khẩu -->
                <div class="form-group">
                    <label>Mật Khẩu</label>
                    <input type="text" class="form-control" name="matKhau" ngModel #matKhau="ngModel" required >
                    <div *ngIf="matKhau.invalid && (matKhau.touched || matKhau.dirty)" class="alert alert-danger">
                        <span *ngIf="matKhau.errors?.required" >
                            Mật khẩu không được bỏ trống
                        </span>
                    </div>
                </div>

                <!-- Họ tên -->
                <div class="form-group">
                    <label>Họ tên</label>
                    <input type="text" class="form-control" name="hoTen" ngModel #hoTen="ngModel" required>
                    <div *ngIf="hoTen.invalid && (hoTen.touched || hoTen.dirty)" class="alert alert-danger">
                        <span *ngIf="hoTen.errors?.required" >
                            Họ tên không được bỏ trống
                        </span>
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" ngModel #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    <div *ngIf="email.invalid && (email.touched || email.dirty)" class="alert alert-danger">
                        <span *ngIf="email.errors?.required">
                            Email không được bỏ trống
                        </span>
                        <span *ngIf="email.errors?.pattern" >
                            Email không đúng định dạng
                        </span>
                    </div>
                </div>

                <!-- Số điện thoại -->
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="text" class="form-control" name="soDt" ngModel #soDt="ngModel" required>
                    <div *ngIf="soDt.invalid && (soDt.touched || soDt.dirty)" class="alert alert-danger">
                        <span *ngIf="soDt.errors?.required" >
                            Số điện thoại không được bỏ trống
                        </span>
                    </div>
                </div>
                <!-- Submit -->
                <button [disabled]="formDangKy.invalid" class="btn btn-success">Sign In</button>
            </form>
        </div>
    </div>
</div>